{% extends "@JubilacionesDeclaraciones/layout-publico.html.twig" %}
{% block pageid 'pagina' %}
    {% block body %}
         <H1>REGISTRO DE REPRESENTANTE</H1>
         <br>
        <!-- AGREGAR CÓDIGO FALTANTE -->
        {{ form_errors(form) }}
        {{ form_start(form) }}
<table class="table">
<tr>
  <th>  {{ form_label(form.cuil) }}</th><td>{{ form_widget(form.cuil) }}</td>
</tr>

<tr colspan="2">
  <th>  {{ form_errors(form.cuil) }} </th></td>
</tr>

<tr>
  <th>  {{ form_label(form.apellido) }} </th><td>{{ form_widget(form.apellido) }} </td>
</tr>

<tr colspan="2">
  <th>  {{ form_errors(form.apellido) }} </th></td>
</tr>

<tr>
  <th>  {{ form_label(form.nombres) }} </th><td>{{ form_widget(form.nombres) }} </td>
</tr>

<tr colspan="2">
  <th>  {{ form_errors(form.nombres) }} </th></td>
</tr>

<tr>
  <th>  {{ form_label(form.email) }}</th><td>{{ form_widget(form.email) }}</td>
</tr>

<tr colspan="2">
  <th>  {{ form_errors(form.email) }} </th></td>
</tr>

<tr>
  <th>  {{ form_label(form.organismo) }}</th><td>{{ form_widget(form.organismo) }}</td>
</tr>

<tr colspan="2">
  <th>  {{ form_errors(form.organismo) }} </th></td>
</tr>

<tr colspan="2">
  <th>  {{ form_widget(form.guardar) }} </th></td>
</tr>
</table>
{{ form_end(form) }}


    {% endblock %}
