<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Symfony 3.4{% endblock %} | Eventos</title>
        <link href="{{ asset('bundles/jubilacionesdeclaraciones/css/reset.css') }}" rel="stylesheet"
              type="text/css" />
        <link href="{{ asset('bundles/jubilacionesdeclaraciones/css/960.css') }}" rel="stylesheet"
              type="text/css" />
        <link href="{{ asset('bundles/jubilacionesdeclaraciones/css/main.css') }}" rel="stylesheet"
              type="text/css" />
        {% block stylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block pageid '' %}">
        <header>
            <div class="container_16">
                {% block header %}
                {% endblock %}
            </div>
        </header>
        <div class="container_16">
            {% block body %}
            {% endblock %}
            <footer>
                {% block footer %}
                    <a href="">
                        &copy; {{ 'now' | date('Y') }} - Caja de Jubilaciones y Pensiones de la Provincia
                    </a>&nbsp;&nbsp;&nbsp;
                    <a href="{{ path('estatica', {'pagina':'condiciones'}) }}">
                        Condiciones de uso
                    </a>
                {% endblock %}
            </footer>
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>