<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Symfony 3.4{% endblock %} | Caja Jubilaciones</title>
        <link href="{{ asset('bundles/jubilacionesdeclaraciones/css/reset.css') }}" rel="stylesheet"
              type="text/css" />
        <link href="{{ asset('bundles/jubilacionesdeclaraciones/css/960.css') }}" rel="stylesheet"
              type="text/css" />
        <link href="{{ asset('bundles/jubilacionesdeclaraciones/css/main.css') }}" rel="stylesheet"
              type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% block stylesheets %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block pageid '' %}">
        <header>
            <div class="container_16">
                {% block header %}
                {% endblock %}
            </div>
        </header>

        <div class="container_16">
            {% block body %}
            {% endblock %}
            <footer>
                {% block footer %}
                    <a href="">
                        &copy; {{ 'now' | date('Y') }} - Caja de Jubilaciones y Pensiones de la Provincia
                    </a>&nbsp;&nbsp;&nbsp;
                    <a href="{{ path('estatica', {'pagina':'condiciones'}) }}">
                        Condiciones de uso
                    </a>
                {% endblock %}
            </footer>
        </div>
        {% block javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.5.0.min.js"
                integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>