{% extends "@JubilacionesDeclaraciones/layout.html.twig" %}
{% block title %}REGISTRO DE USUARIO{% endblock %}
{% block pageid 'pagina' %}
    {% block body %}
        <H1>REGISTRO DE USUARIO</H1>
        <br>
        <!-- AGREGAR CÓDIGO FALTANTE -->
        {{ form_errors(form) }}
        {{ form_start(form) }}
        {{ form_errors(form.username) }}

<table class="table">
  <tr>
    <td>{{ form_label(form.username) }}</td><td>{{ form_widget(form.username) }}</td>
  </tr>

  <tr colspan='2'>
    <td>{{ form_errors(form.username) }}</td>
  </tr>

  <tr>
    <td>{{ form_label(form.roles) }}</td><td>{{ form_widget(form.roles) }}</td>
  </tr>

  <tr colspan='2'>
    <td>{{ form_errors(form.roles) }}</td>
  </tr>

  <tr>
    <td>{{ form_label(form.zona) }}</td><td>{{ form_widget(form.zona) }}</td>
  </tr>

  <tr colspan='2'>
    <td>{{ form_errors(form.zona) }}</td>
  </tr>

  <tr>
    <td>  {{ form_label(form.plainPassword.first, 'Clave') }}</td><td>{{ form_widget(form.plainPassword.first) }}</td>
  </tr>

  <tr colspan='2'>
    <td>{{ form_errors(form.plainPassword.first) }}</td>
  </tr>

  <tr>
    <td>  {{ form_label(form.plainPassword.second, 'Repetir clave') }} </td><td>{{ form_widget(form.plainPassword.second) }}</td>
  </tr>

  <tr colspan='2'>
    <td>{{ form_errors(form.plainPassword.second) }}</td>
  </tr>

  <tr colspan='2'>
    <td><button class="btn btn-primary" type="submit">Aceptar</button></td>
  </tr>


</table>


        {{ form_end(form) }}


    {% endblock %}
