{% extends "base.html.twig" %}
{% block header %}
    <h1 class="grid_5 alpha">
        <a href="{{ path('organismo_declaracion_listar') }}">    
            <img src="http://listas.santafe.gob.ar/boletines/images/diseno2020/Marca_SantaFev3-07.png" width="120">
            &nbsp;&nbsp;PredeJu </a></h1>
    <nav class="grid_11 omega" style>
        <ul>
            <li><a href="">Organismo</a></li>
            <li><a href="">Representante</a></li>
            <li><a href="{{ path('organismo_declaracion_listar') }}">Declaraciones</a></li>
                {% if app.user %}
            <li>
                    <a href="{{ path('logout') }}"> <font color="red">{{  app.user.username }}</font> - Salir</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <h1>{{ block('title') }}</h1>
{% endblock %}