{% extends "base.html.twig" %}
{% block header %}
    <h1 class="grid_5 alpha"><a href="{{ path('admin_portada') }}">Gesti&oacute;n de eventos</a></h1>
    <nav class="grid_11 omega">
        <ul>
            <li><a href="{{ path('portada') }}">Sitio p&uacute;blico</a></li>
            <li><a href="{{ path('admin_evento_listar') }}">Eventos</a></li>
            <li><a href="{{ path('admin_disertante_listar')}}">Disertantes</a></li>
        </ul>
    </nav>
    <h1>{{ block('title') }}</h1>
{% endblock %}