{% extends "@JubilacionesDeclaraciones/layout-organismo.html.twig" %}
{% block title %}Editar Declaracion{% endblock %}
  {% block pageid 'organismo' %}

  {% block header %}
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('principal_logueado') }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{{ path('organismo_organismo_listar') }}">Organismo <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('organismo_convenio_cuota_listar') }}">Convenios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('organismo_declaracion_listar') }}">Declaraciones</a>
    </li>
  </ul>
  <ul class="list-inline custom-icon-middle">
    <li class="list-inline-item">
      <a href="#" class="dropdown-toggle" id="dropdownMenuLinkPerson" data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false" title="Usuario logeado"><i class="material-icons">person</i></a>
      <div class="dropdown-menu custom-dropdown-menu-right" aria-labelledby="dropdownMenuLinkPerson">
        <a class="dropdown-item" href="{{ path('organismo_usuario_editar') }}">Cambiar Contraseña</a>
      </div>
    </li>

    <li class="list-inline-item"><a href="{{ path('logout') }}" title="Salir"><i class="material-icons">exit_to_app</i></a>
    </li>

  </ul>
  {% endblock %}

    {% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('principal_logueado') }}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('organismo_organismo_listar') }}">Organismo</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>
        <!-- AGREGAR CÓDIGO FALTANTE -->
        {{ form_errors(form) }}
        {{ form_start(form) }}

<table class="table">
<tr>
  <td>{{ form_label(form.domicilioCalle) }} </td><td>{{ form_widget(form.domicilioCalle) }}</td>
  <td>{{ form_label(form.domicilioNumero) }} </td><td>{{ form_widget(form.domicilioNumero) }}</td>
</tr>

<tr colspan='2'>
  <td>{{ form_errors(form.domicilioCalle) }} </td><td>{{ form_errors(form.domicilioNumero) }}</td>
</tr>

<tr>
  <td>{{ form_label(form.localidad) }} </td><td>{{ form_widget(form.localidad) }}</td>
  <td>{{ form_label(form.codigoPostal) }} </td><td>{{ form_widget(form.codigoPostal) }}</td>
</tr>

<tr colspan='2'>
  <td>{{ form_errors(form.localidad) }} </td><td>{{ form_errors(form.codigoPostal) }}</td>
</tr>

<tr>
  <td>  {{ form_label(form.telefonoCaracteristica) }} </td><td>{{ form_widget(form.telefonoCaracteristica) }}</td>
  <td>{{ form_label(form.telefonoNumero) }} </td><td>{{ form_widget(form.telefonoNumero) }}</td>
</tr>

<tr colspan='2'>
  <td>{{ form_errors(form.telefonoCaracteristica) }} </td><td>{{ form_errors(form.telefonoNumero) }}</td>
</tr>

<tr>
  <td>  {{ form_label(form.cuit) }} </td><td>{{ form_widget(form.cuit) }}</td>
  <td>  {{ form_label(form.email) }} </td><td>  {{ form_widget(form.email) }}</td>
</tr>

<tr colspan='2'>
  <td>{{ form_errors(form.cuit) }} </td><td>{{ form_errors(form.email) }}</td>
</tr>


</table>
{{ form_end(form) }}
{% endblock %}
