{% extends "@JubilacionesDeclaraciones/layout-organismo.html.twig" %}
{% block pageid 'ddjj' %}
    {% block body  %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('principal_logueado') }}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('organismo_declaracion_listar') }}">Declaraciones</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nueva</li>
        </ol>
    </nav>
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-light mb-12">
          <div class="card-header">Declaracion Jurada - Nueva </div>

          <div class="card-body">

            {{ form_errors(form) }}
            {{ form_start(form) }}
            <table class="table">
              <tr>
                <th>{{ form_label(form.tipoLiquidacion) }}</th> <td>{{ form_widget(form.tipoLiquidacion) }}</td>
              </tr>

              <tr>
                <th colspan="2">{{ form_errors(form.tipoLiquidacion) }}</th>
              </tr>

              <tr>
                <th>{{ form_label(form.periodoAnio) }}</th> <td>{{ form_widget(form.periodoAnio) }}</td>
              </tr>

              <tr>
                <th colspan="2">{{ form_errors(form.periodoAnio) }}</th>
              </tr>

              <tr>
                <th>{{ form_label(form.periodoMes) }}</th> <td>{{ form_widget(form.periodoMes) }}</td>
              </tr>

              <tr>
                <th colspan="2">{{ form_errors(form.periodoMes) }}</th>
              </tr>

              <tr>
                <th>{{ form_label(form.jubidat) }}</th> <td>{{ form_widget(form.jubidat) }}</td>
              </tr>

              <tr>
                <th colspan="2">{{ form_errors(form.jubidat) }}</th>
              </tr>

              <tr>
                <th>{{ form_label(form.jubi1ind) }}</th> <td> {{ form_widget(form.jubi1ind) }}</td>
              </tr>

              <tr>
                <th colspan="2">{{ form_errors(form.jubi1ind) }}</th>
              </tr>

            </table>
            {{ form_end(form) }}
          </div>
          <div class="card-footer" id="resultado">
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
